<form action="/names" method="post">
<div>
<label type="text">
  Welcome Player 1, please enter your name: <input type="text" name="Player_1_name">
</label>
</div>

<label type="text">
  Welcome Player 2, please enter your name: <input type="text" name="Player_2_name">
</label>

<div>
<input type="submit" class="submit-names">
</div>
</form>
